header{
    padding: 20px 0px;
}

body{
    background: url(./Contenido/transp.PNG);
    background-size: 200px 200px;
}

.encabezado{
    position: relative;
    width: auto;
    margin: 40px 84px;
}

.encabezado p{
    position: absolute;
    top: -4px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-left: 470px;
    color: #0A3871;
}

main{
    display: flex;
    width: auto;
}

.cuadroTexto{
    margin: 1em 40px 1em 40px; 
    width: auto;
    vertical-align: top;
}

textarea{
    font-size: 20px;
}

#textout{
    background: url(./Contenido/Muñeco.png) 50% 20% no-repeat, url(./Contenido/Frame\ 5.png) 50% 90% no-repeat;
}

#advertencia{
    margin: 10px 80px;
    font-size: 22px;
}

#advertencia::before{
    content: "⚠ ";
}

.boton{
    width: 328px;
    height: 67px;
    padding: 15px;
    font-size: 20px;
    font-weight: 400px;
    color: white;
    background: #0A3871;
    border: solid;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
}

#botEncriptar{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#botCopiar{
    margin: 40px 150px;
}

.boton:hover{
    background: #3271a8;
}

footer{
    padding: 20px;
    margin: 0px 0px;
    position: relative;
    text-align: center;
    font-size: 20px;
    background: #233449;
    width: auto;
    height: auto;
}

footer p{
    margin-top: 10px;
    padding: 35px;
    color: whitesmoke;
}


.iconos{
    position: absolute;
    top: 30px;
    right: 60px;
}

.iconos li{
    display: inline;
}

.iconsn{
    width: 40px;
    height: 40px;
}

@media screen and (max-width:480px){
    
    .encabezado{
        position: static top;
        width: auto;
        margin: 20px 20px;
    }

    .encabezado h1{
        position: static;
        margin: 1em auto;
        text-align: center;
    }
    
    .encabezado p{
        position: static;
        top: 20px;
        text-align: center;
        margin: auto;
        font-size: 35px;
    }

    main{
        display: block;
        text-align: center;
        width: auto;
        margin: 1em auto;
    }

    .cuadroTexto{
        margin: 1em auto; 
        width: fit-content;
        text-align: center;
        height: fit-content;
    }

    textarea{
        font-size: 15px;
        width: auto;
    }

    #textin{
        font-size: 10px;
        height: fit-content;
        width: fit-content;
    }

    #textout{
        background-position: 50% 10%, 50% 95%;
        width: fit-content;
        height: fit-content;
    }

    #advertencia{
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    
    .boton{
        width: 160px;
        height: auto;
        font-size: auto;
        margin: 1em auto;
    }

    #botEncriptar{
        margin: auto;
    }
    
    #botCopiar{
        margin: auto;
    }

    footer{
        width: auto;
        text-align: center;
    }

    footer p{
        margin: auto;
    }
    
    .iconos{
        position: static;
        display: inline-block;
        text-align: center;
    }
    
}
